@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400");
.am_map {
  height: 400px;
  width: 100%; }
  .am_map h1 {
    font-size: 2em; }
  .am_map .map-inner {
    height: 100%; }
  .am_map .map_canvas {
    height: 100%; }
  .am_map .infoBox {
    font-size: 10px;
    font-family: inherit; }
    .am_map .infoBox img {
      max-width: 8px;
      max-height: 8px; }

.am {
  width: 100%; }
  .am .am_navigation {
    float: left;
    width: 25%; }
    .am .am_navigation ul {
      list-style: none;
      margin: 0;
      height: 100%;
      font-family: 'Open Sans', sans-serif; }
    .am .am_navigation li {
      margin-bottom: 15px;
      width: 90%;
      text-align: left;
      display: inline-block; }
      .am .am_navigation li:last-child {
        margin-bottom: 0; }
      .am .am_navigation li.term-all {
        background-color: #090A0E;
        color: #090A0E; }
      .am .am_navigation li:hover a, .am .am_navigation li.active a {
        border: 1px solid inherit;
        background-color: inherit; }
      .am .am_navigation li:hover span, .am .am_navigation li.active span {
        -webkit-transition: all 0.3s;
        transition: all 0.3s;
        color: #fff; }
      .am .am_navigation li a {
        border: 1px solid;
        display: block;
        color: inherit;
        background-color: #fff;
        width: 100%;
        -webkit-transition: all 0.3s;
        transition: all 0.3s; }
        .am .am_navigation li a:focus {
          outline: none; }
      .am .am_navigation li span {
        font-weight: 300;
        margin-left: 10%;
        -webkit-transition: all 0.3s;
        transition: all 0.3s;
        color: inherit;
        text-transform: uppercase; }
  .am .am_map {
    float: left;
    width: 75%; }

.am.am_topbar {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  width: 100%;
  margin: 0 auto; }
  .am.am_topbar .am_navigation {
    float: none;
    width: 100%; }
    .am.am_topbar .am_navigation ul {
      margin: 30px 0 0px; }
    .am.am_topbar .am_navigation li {
      float: left;
      margin-left: 15px;
      width: auto;
      text-align: center; }
      .am.am_topbar .am_navigation li:first-child {
        margin-left: 0; }
      .am.am_topbar .am_navigation li a {
        min-width: 100px;
        padding: 2px 13px; }
        .am.am_topbar .am_navigation li a span {
          margin: 0; }
  .am.am_topbar .am_map {
    float: none;
    width: 100%; }

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0; }

.clearfix {
  display: inline-block; }

/* start commented backslash hack \*/
* html .clearfix {
  height: 1%; }

.clearfix {
  display: block; }

/* close commented backslash hack */