.am_map {
  height: 400px;
  width: 100%; }
  .am_map h1 {
    font-size: 2em; }
  .am_map .map-inner {
    height: 100%; }
  .am_map .map_canvas {
    height: 100%; }
  .am_map .infoBox {
    font-size: 10px;
    font-family: inherit; }
    .am_map .infoBox img {
      max-width: 8px;
      max-height: 8px; }

.am {
  display: -webkit-box;
  display: flex;
  width: 100%; }
  .am .am_navigation {
    flex-basis: 25%; }
    .am .am_navigation ul {
      list-style: none;
      margin: 0; }

.am.am_topbar {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  width: 100%;
  margin: 0 auto; }
  .am.am_topbar .am_navigation {
    flex-basis: 100%; }
    .am.am_topbar .am_navigation ul {
      display: -webkit-box;
      display: flex;
      justify-content: space-around;
      -webkit-box-align: center;
      align-items: center;
      margin: 30px 0; }