.am_map {
	height: 400px;
	width: 100%;

	h1 {
		font-size: 2em;
	}

	.map-inner {
		height: 100%;
	}

	.map_canvas {
		height: 100%;
	}

	.infoBox {
		font-size: 10px;
		font-family: inherit;
		img {
			max-width: 8px;
			max-height: 8px;
		}
	}
}

.am {
	display: flex;
	width: 100%;
	.am_navigation {
		flex-basis: 25%;
		ul {
			list-style: none;
			margin: 0;
		}
	}
}

.am.am_topbar {
	flex-direction: column;
	width: 100%;
	margin: 0 auto;
	.am_navigation {
		flex-basis: 100%;
		ul {
			display: flex;
			justify-content: space-around;
			align-items: center;
			margin: 30px 0;
		}
	}
}