@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400');

.am_map, #am_single_map {
	height: 400px;
	width: 100%;

	h1 {
		font-size: 2em;
	}

	.map-inner {
		height: 100%;
	}

	.map_canvas {
		height: 100%;
	}

	.infoBox {
		font-size: 10px;
		img {
			max-width: 8px;
			max-height: 8px;
		}
	}
}

.am_map.am_relative {
	position: relative;
	#am_card {
		padding: 40px;
		position: absolute;
		top: 50%;
		left: 0;
		transform: translateY(-50%);
		background-color: #111;
		color: #fff;
		height: auto;
		h3 {
			text-transform: uppercase;
		}
		p {
			font-size: 0.85em;
			max-width: 200px;
		}
	}
}

.am {
	width: 100%;
	.am_navigation {
		float: left;
		width: 25%;
		ul {
			list-style: none;
			margin: 0;
			height: 100%;
			font-family: 'Open Sans', sans-serif;
		}
		li {
			margin-bottom: 15px;
			&:last-child {
				margin-bottom: 0;
			}
			&.term-all {
				background-color: #090A0E;
				color: #090A0E;
			}
			width: 90%;
			text-align: left;
			display: inline-block;
			&:hover, &.active {
				a {

					border: 1px solid inherit;
					background-color: inherit;
				}
				span {
					transition: all 0.3s;
					color: #fff;
				}
			}
			a {
				border: 1px solid;
				display: block;
				color: inherit;
				background-color: #fff;
				width: 100%;
				transition: all 0.3s;
				&:focus {
					outline: none;
				}
			}	
			span {
				font-weight: 300;
				margin-left: 10%;
				transition: all 0.3s;
				color: inherit;
				text-transform: uppercase;		
			}
		}
	}
	.am_map {
		float: left;
		width: 75%;
	}
}

.am.am_topbar {
	flex-direction: column;
	width: 100%;
	margin: 0 auto;
	.am_navigation {
		float: none;
		width: 100%;
		ul {
			margin: 30px 0 0px;
		}
		li {
			float: left;
			margin-left: 15px;
			width: auto;
			text-align: center;
			&:first-child {
				margin-left: 0;
			}
			a {
				min-width: 100px;
				padding: 2px 13px;
				span {
					margin: 0;
				}
			}
			
		}
	}
	.am_map {
		float: none;
		width: 100%;
	}
}

.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}
.clearfix { display: inline-block; }
/* start commented backslash hack \*/
* html .clearfix { height: 1%; }
.clearfix { display: block; }
/* close commented backslash hack */